<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Roi Reinshtein, it uses data from mapbox.com and draksky.net</p>
        <img class="portrait" src="resources/image.jfif">
    </div>
    {{>footer}}
</body>
</html>